/* Navbar */

.nav-bar {
  background-color: blueviolet;
}

.nav-bar-logo, .nav-bar-link {
  color: blanchedalmond;
}
/* -------------------------------------------------- */
/* Delete button */
.remove-btn {
  margin-right: 0.5rem;
  background-color: blueviolet;
  color: blanchedalmond;
  border: none;
}
/* -------------------------------------------------- */
/* Add button */
.add-btn {
  margin-bottom: 2rem;
  background-color: blanchedalmond;
  color: blueviolet;
  border: none;
}
/* -------------------------------------------------- */
.bg {
  background-color: red;
}